@page
@model Costin_Adrian_Shop.Pages.Carts.CreateModel

@{
    ViewData["Title"] = "Add to cart";
}

<h1>Add to cart</h1>

<h4>Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cart.Product.Name" class="control-label"></label>
                <select asp-for="Cart.ProductID" class ="form-control" asp-items="ViewBag.ProductID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cart.Qty" class="control-label"></label>
                <input asp-for="Cart.Qty" class="form-control" value="1" />
                <span asp-validation-for="Cart.Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
